body{
    background-image: url('https://previews.123rf.com/images/deepfuze/deepfuze1607/deepfuze160700041/60148747-servicio-postal-modelo-incons%C3%BAtil-del-vector-con-los-sobres-y-cartas-sobre-un-fondo-beige.jpg?fj=1');

menu{
    display: flexbox;
}

p{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size:larger
}